
  
  
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
  
    button:hover {
      background-color: #45a049;
    }
        html {
    scroll-behavior: smooth;
  }
      
      body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(255, 255, 255);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-image: url(./img/Lunar\ New\ Year\ 2023\ 10.png); */
      }
  /*  */
  
  .slider {
    padding: 0px;
    position: relative;
    font-size: 1em;
    margin: 0px;
  }
  
  .slider .slides .item {
    position: relative;
    display: none;
  }
  
  .slider .slides .item img {
    width: 100%;
    height: 550px;
    object-fit: cover;
  }
  
  .slider .slides .active {
    display: block;
  }
  
  .slider .buttons {
    position: absolute;
    bottom: 30px;
    left: 40px;
    z-index: 1;
  }
  
  .slider .buttons i {
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .slider .buttons i:hover {
    color: rgba(173, 42, 42, 0.4);
  }
      
  /*  */
  
  /* nav bar */

/* .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8; 
  padding: 10px;
} */
.container a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 10px;
}



  
  .container {
    overflow: hidden;
    /* background-color: black; */
    background-image: url(./img/Lunar\ New\ Year\ 2023\ 10.png);
    text-align: center;
    position: relative; 
    width: 100%;
    z-index: 1000;
    transition: position 0.3s; 
  }
  
  .container a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }
  
  .container a::before {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-color: #fff;
    margin-bottom: 1px;
  }
  
  .container a:hover::before {
    
    width: 100%;
    transition: all 0.5s;
  }
  
  .fixed {
    position: fixed; 
    top: 0;
  }
  
  /*  */
  
  
      section {
        padding: 0rem;
      }
  
      footer {
        background-color: #2b2b2b;
        color: #fff;
        text-align: center;
        padding: 1px;
      }
      #contactForm {
        margin-top: 20px;
      }
  
      #tictac {
          
        display: flex;
        flex-direction: column;
        align-items: center;
        color: aliceblue;
        padding-top: 100px;
        /* justify-content: center; */
        /* height: 100vh; */
      } 
      .board {
        display:grid;
        grid-template-columns: repeat(3, 100px);
        grid-gap: 4px;
        padding: 5px;
        
        
      }
      .cell {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        border: 1px solid #fcfcfc;
        cursor: crosshair;
      }
      
  
  
      /* 0 */
     
  
  
  #home.active .image-container {
    right: 0; 
  }
  
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .text-content {
    flex: 1;
    max-width: 600px;
    text-align: left;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .image-container img,svg {
    max-width: 100%;
    height: 200px;
  }

  #home {
    opacity: 0;
    transform: translateX(-200px);
    transition: opacity 2s, transform 2s;
    text-align: center;
  }
  
  #home.active {
    opacity: 1;
    transform: translateX(0);
  }
      /*  */
      /*  */
  
      /*  */
      /*  */
      .project {
        width: 100%;
        position: relative;
    }
    .project1, .project2, .project3, .project4{
      width: 20%;
      text-align: center;
      margin: auto;

    }
    .proimg {
        width: 100%; 
        max-width: 100%; 
        height: 100%; 
        position: relative;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        transition: box-shadow 0.3s ease;
        padding: 10px;
        border-radius: 30px 30px 0px 0px;
    }
    
    .project1:hover .proimg{
        box-shadow: 0 0 30px rgba(243, 240, 240, 0.7);
        cursor: crosshair;
        
    }
    .project1:hover .project-text1 {
      box-shadow: 0 0 30px rgba(243, 240, 240, 0.7);
      cursor: crosshair;

  }


    .project2:hover .proimg {
      box-shadow: 0 0 30px rgba(243, 238, 238, 0.7);
      cursor: crosshair;

  }
  .project2:hover .project-text2 {
    box-shadow: 0 0 30px rgba(243, 240, 240, 0.7);
    cursor: crosshair;

    
}


  .project3:hover .proimg {
    box-shadow: 0 0 30px rgba(249, 245, 245, 0.7);
    cursor: crosshair;

}
.project3:hover .project-text3 {
  box-shadow: 0 0 30px rgba(243, 240, 240, 0.7);
  cursor: crosshair;

  
}


.project4:hover .proimg {
  box-shadow: 0 0 30px rgba(255, 253, 253, 0.7);
  cursor: crosshair;

}
.project4:hover .project-text4 {
  box-shadow: 0 0 30px rgba(243, 240, 240, 0.7);
  cursor: crosshair;

  
}
    
.project-text1, .project-text2, .project-text3, .project-text4 {
  position: absolute;
  bottom: -65px;
  text-align: center;
  width: 19.8%;
  padding: 10px;
  color: whitesmoke;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0); 
  border-radius: 0 0 30px 30px; 
  backdrop-filter: blur(10px); 
  /* border: 1px solid black; */
}


  
    .project:hover .project-text1 .project-text2 .project-text3 .project-text4{
      opacity: 1;
      
  }
    .project-text p {
        margin: 0;
    }
    
    
    .project-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 20px;
    }
    
  
    .project.animate:nth-child(odd) {
      animation: slideInLeft 1s ease-in-out;
    }
  
    .project.animate:nth-child(even) {
      animation: slideInRight 1s ease-in-out;
    }
  
    @keyframes slideInLeft {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    @keyframes slideInRight {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
  
      @media only screen and (max-width: 768px) {
        footer {
          padding: 50px; 
        }
        .container {
          white-space: nowrap;
          overflow-x: auto;
          background-image: url(./img/Lunar\ New\ Year\ 2023\ 10\ \(3\).png);

        }
        .container .nav-item {
          display: inline-block; 
          margin-right: 10px; 
        }
        .container a::before {
          width: 0%;
        }
        .fixed {
          position: static;
        }
        #home {
          padding-top: 50px; 
        }
        .slider .buttons {
          bottom: 10px;
          left: 10px;
        }
        .text-content {
          padding-right: 0;
        }
        .content-container {
          flex-direction: column;
        }
        .image-container {
          margin-top: 20px;
        }
        .slider .slides .item img {
          height: auto;
        }
        .container {
          text-align: left;
        }
  
        #contactForm {
          margin-top: 10px;
        }
        #contactForm label,
        #contactForm textarea,
        #contactForm button {
          width: 100%;
          box-sizing: border-box;
        }
        .fa {
          padding: 20px;
          font-size: 30px;
          width: 10px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
          border-radius: 50%;
        }
        .text-overlay {
          /* position: absolute;
          top: 50%;
          left: 70%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 24px;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          border-right: 2px solid white; 
          animation: typewriter 1s steps(40) infinite; */
    
    
          position: absolute;
          top: 30%;
          left: 70%;
          transform: translate(-50%, -50%);
          color: white; 
          font-size: 10px; 
          text-align: left; 
          font-family: 'Courier New', Courier, monospace;
        }
      }


      .text-overlay {
        /* position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid white; 
        animation: typewriter 1s steps(40) infinite; */
  
  
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        color: white; 
        font-size: 20px; 
        text-align: center; 
        font-family: 'Courier New', Courier, monospace;
      }
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
      }
      .fa:hover {
        opacity: 0.2;
    }
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa-github {
        background: #2b3137;
        color: white;
      }
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
      }
      
      